[Unit]
Description=Node.js HomeKit Server
After=syslog.target network-online.target

[Service]
Type=simple
User={{ homebridge.user }}
EnvironmentFile=/etc/default/homebridge
ExecStart={{ which_homebridge.stdout }} $HOMEBRIDGE_OPTS
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
